* { 
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}

body { 
  overflow: hidden; 
  font-family: 'Segoe UI', sans-serif; 
  color: #fff;
  display: flex;
}

.global-container{
    padding: 2vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title-container{
    flex: 2;
}

.main-content{
    flex: 8;
}